VITE_API_URL=http://localhost:5000
VITE_FIREBASE_API_KEY=AIzaSyDOEc2KpUIYqJk_dz3ZyF4VaghNU-Fjs8I
VITE_FIREBASE_AUTH_DOMAIN=classyshop-b2de6.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=classyshop-b2de6
VITE_FIREBASE_APP_ID=1:352534375273:web:981de93d8f84e2d837ebf8
VITE_FIREBASE_MESSAGING_SENDER_ID=352534375273
